notebook
jupyterlab
ipykernel
numpy
scipy
pandas
matplotlib
seaborn
scikit-learn
jax[cpu]==0.4.31
equinox==0.10.11
optax==0.2.2
mctx==0.0.5
inferactively-pymdp
pyhgf==0.2.12
pyswarms
pymc
arviz
networkx
igraph
leidenalg
python-louvain
pyvis
